html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent
}


body {
    margin: 0;
    font-family: Nunito Sans,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica Neue,Arial,sans-serif;
    font-size: .85rem;
    font-weight: 400;
    line-height: 1.5;
    color: #424856;
    text-align: left;
    background-color: #f3f3f4
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block
}
select {
    word-wrap: normal;
}

button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.Preloader-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 225px;
    background: #fff
}
.form-group {
    margin-bottom: 0.5rem;
}
@media only screen and (max-width:760px) {
    .Preloader-wrapper {
        left: 0
    }
}
.main {
    margin-left: 225px;
    width: 100%;
    min-height: 100vh;
    min-width: 0
}
.login-screen {
    margin-top: 25%;
    padding: 20px;
    background-color: #fff;
    border-radius: 6px;
}
@media (max-width:991.98px) {
    .main {
        overflow-y: hidden;
        margin-left: 0 !important
    }
}
.content {
    padding: 1.5rem
}

@media (max-width:991.98px) {
    .content {
        width: 100vw;
        max-width: 100vw;
        margin-top: 60px
    }
}

@media (max-width:1199.98px) {
    .content {
        padding: 1.5rem
    }
}

.sidebar {
    min-width: 225px;
    max-width: 225px;
    border-right: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%
}

.sidebar, .sidebar-content {
    transition: margin-left .4s ease-in-out,left .4s ease-in-out;
    background: #262f3d;
    z-index: 1000
}

.sidebar-sticky .sidebar-content {
    border-right: 0
}

.sidebar-sticky .sidebar-nav {
    padding-bottom: 0
}

.sidebar-sticky .sidebar-content {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px
}

.sidebar-nav {
    height: calc(100% - 66px);
    position: relative;
    padding-bottom: 3.5rem;
    padding-left: 0;
    list-style: none
}

.sidebar-link, a.sidebar-link {
    display: block;
    padding: .75rem 1.5rem;
    color: hsla(0,0%,100%,.55);
    font-weight: 400;
    background: #262f3d;
    transition: background .1s ease-in-out;
    position: relative;
    text-decoration: none;
    cursor: pointer
}

    .sidebar-link i, .sidebar-link svg, a.sidebar-link i, a.sidebar-link svg {
        margin-right: .75rem;
        color: #9da1a8
    }

    .sidebar-link:focus {
        outline: 0
    }

    .sidebar-link:hover {
        color: hsla(0,0%,100%,.55);
        background: #1e2530
    }

        .sidebar-link:hover i, .sidebar-link:hover svg {
            color: #fff
        }

.sidebar-item.active .sidebar-link:hover, .sidebar-item.active > .sidebar-link {
    color: hsla(0,0%,100%,.55);
    background: #1e2530
}

    .sidebar-item.active .sidebar-link:hover i, .sidebar-item.active .sidebar-link:hover svg, .sidebar-item.active > .sidebar-link i, .sidebar-item.active > .sidebar-link svg {
        color: #fff
    }

.sidebar-dropdown .sidebar-link {
    padding: .625rem 1.5rem .625rem 2.75rem;
    color: #adb5bd;
    background: #222a37;
    font-weight: 400
}

.sidebar-dropdown .sidebar-item .sidebar-link:hover, .sidebar-dropdown .sidebar-item.active .sidebar-link {
    color: #f8f9fa;
    background: #1e2530;
    font-weight: 400
}

.sidebar [data-toggle=collapse] {
    position: relative
}

    .sidebar [data-toggle=collapse]:before {
        content: " ";
        border: solid;
        border-width: 0 .1rem .1rem 0;
        display: inline-block;
        padding: 2px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 1rem;
        right: 1.25rem;
        transition: all .2s ease-out
    }

    .sidebar [aria-expanded=true]:before, .sidebar [data-toggle=collapse]:not(.collapsed):before {
        -webkit-transform: rotate(-135deg);
        transform: rotate(-135deg);
        top: 1.2rem
    }

.sidebar-brand img {
    width: 225px;
    margin-top: -2px;
    margin-left: -8px;
}

.sidebar-brand {
    font-weight: 400;
    font-size: 1.15rem;
    color: #f8f9fa;
    display: block;
    background-color: #1ab394;
    height: 64px
}

    .sidebar-brand:hover {
        text-decoration: none;
        color: #f8f9fa
    }

    .sidebar-brand:focus {
        outline: 0
    }

    .sidebar-brand .feather, .sidebar-brand svg {
        color: #fff;
        height: 24px;
        width: 24px;
        margin-left: -.15rem;
        margin-right: .375rem
    }

.sidebar-toggle {
    cursor: pointer;
    width: 26px;
    height: 26px
}

.sidebar.toggled {
    margin-left: -250px
}

    .sidebar.toggled .sidebar-content {
        left: -250px
    }

.sidebar .badge {
    float: right;
    margin-right: 12px;
    margin-top: 2px
}

@media (min-width:1px) and (max-width:991.98px) {
    .sidebar {
        margin-left: -250px
    }

        .sidebar .sidebar-content {
            left: -250px
        }

        .sidebar.toggled {
            margin-left: 0
        }

            .sidebar.toggled .sidebar-content {
                left: 0
            }

    .sidebar-collapsed {
        margin-left: 0
    }

        .sidebar-collapsed .sidebar-content {
            left: 0
        }

        .sidebar-collapsed.toggled {
            margin-left: -250px
        }

            .sidebar-collapsed.toggled .sidebar-content {
                left: -250px
            }
}

.sidebar-header {
    background: 0 0;
    color: #adb5bd63;
    padding: 30px 5px 8px 10px;
    font-size: .8rem;
    text-transform: none
}

.sidebar-bottom {
    transition: margin-left .4s ease-in-out,left .4s ease-in-out;
    padding: 1rem;
    width: inherit;
    font-size: .8rem;
    bottom: 0;
    left: 0;
    position: fixed;
    background: #222a37;
    min-width: 250px;
    max-width: 250px;
    color: #e9ecef;
    border-right: 0;
    margin-left: 0
}

    .sidebar-bottom h5 {
        color: #e9ecef
    }

.sidebar.toggled .sidebar-bottom {
    margin-left: -250px
}

.sidebar-badge {
    position: absolute;
    right: 15px;
    top: 14px
}


.sidebar-toggle:hover .hamburger, .sidebar-toggle:hover .hamburger:after, .sidebar-toggle:hover .hamburger:before {
    background: #1ab394
}
.wrapper {
    -webkit-align-items: stretch;
    align-items: stretch;
    display: -webkit-flex;
    display: flex;
    width: 100%
}

.wrapper-boxed {
    max-width: 1440px;
    margin: 0 auto;
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    overflow: hidden
}
.main {
    margin-left: 225px;
    width: 100%;
    min-height: 100vh;
    min-width: 0
}

@media (max-width:991.98px) {
    .main {
        overflow-y: hidden;
        margin-left: 0 !important
    }
}
.Preloader-wrapper {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 225px;
    background: #fff
}

@media only screen and (max-width:760px) {
    .Preloader-wrapper {
        left: 0
    }
}

.navbar {
    position: relative;
    padding: .875rem 1.25rem
}

    .navbar, .navbar > .container, .navbar > .container-fluid {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }

.navbar-brand {
    display: inline-block;
    padding-top: .33125rem;
    padding-bottom: .33125rem;
    margin-right: 1.25rem;
    font-size: 1.1rem;
    line-height: inherit;
    white-space: nowrap
}

    .navbar-brand:focus, .navbar-brand:hover {
        text-decoration: none
    }

.navbar-nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

    .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0
    }

    .navbar-nav .dropdown-menu {
        position: static;
        float: none
    }

.navbar-text {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.navbar-collapse {
    
    flex-basis: 100%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    -webkit-align-items: center;
    align-items: center
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .2rem
}

    .navbar-toggler:focus, .navbar-toggler:hover {
        text-decoration: none
    }

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat 50%;
    background-size: 100% 100%
}

@media (max-width:575.98px) {
    .navbar-expand-sm > .container, .navbar-expand-sm > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:576px) {
    .navbar-expand-sm {
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }

        .navbar-expand-sm .navbar-nav {
            -webkit-flex-direction: row;
            flex-direction: row
        }

            .navbar-expand-sm .navbar-nav .dropdown-menu {
                position: absolute
            }

            .navbar-expand-sm .navbar-nav .nav-link {
                padding-right: .5rem;
                padding-left: .5rem
            }

        .navbar-expand-sm > .container, .navbar-expand-sm > .container-fluid {
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap
        }

        .navbar-expand-sm .navbar-collapse {
            display: -webkit-flex !important;
            display: flex !important;
          
            flex-basis: auto
        }

        .navbar-expand-sm .navbar-toggler {
            display: none
        }
}

@media (max-width:767.98px) {
    .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:768px) {
    .navbar-expand-md {
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }

        .navbar-expand-md .navbar-nav {
            -webkit-flex-direction: row;
            flex-direction: row
        }

            .navbar-expand-md .navbar-nav .dropdown-menu {
                position: absolute
            }

            .navbar-expand-md .navbar-nav .nav-link {
                padding-right: .5rem;
                padding-left: .5rem
            }

        .navbar-expand-md > .container, .navbar-expand-md > .container-fluid {
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap
        }

        .navbar-expand-md .navbar-collapse {
            display: -webkit-flex !important;
            display: flex !important;
           
            flex-basis: auto
        }

        .navbar-expand-md .navbar-toggler {
            display: none
        }
}

@media (max-width:991.98px) {
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:992px) {
    .navbar-expand-lg {
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }

        .navbar-expand-lg .navbar-nav {
            -webkit-flex-direction: row;
            flex-direction: row
        }

            .navbar-expand-lg .navbar-nav .dropdown-menu {
                position: absolute
            }

            .navbar-expand-lg .navbar-nav .nav-link {
                padding-right: .5rem;
                padding-left: .5rem
            }

        .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap
        }

        .navbar-expand-lg .navbar-collapse {
            display: -webkit-flex !important;
            display: flex !important;
          
            flex-basis: auto
        }

        .navbar-expand-lg .navbar-toggler {
            display: none
        }
}

@media (max-width:1199.98px) {
    .navbar-expand-xl > .container, .navbar-expand-xl > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:1200px) {
    .navbar-expand-xl {
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }

        .navbar-expand-xl .navbar-nav {
            -webkit-flex-direction: row;
            flex-direction: row
        }

            .navbar-expand-xl .navbar-nav .dropdown-menu {
                position: absolute
            }

            .navbar-expand-xl .navbar-nav .nav-link {
                padding-right: .5rem;
                padding-left: .5rem
            }

        .navbar-expand-xl > .container, .navbar-expand-xl > .container-fluid {
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap
        }

        .navbar-expand-xl .navbar-collapse {
            display: -webkit-flex !important;
            display: flex !important;
           
            flex-basis: auto
        }

        .navbar-expand-xl .navbar-toggler {
            display: none
        }
}

@media (max-width:1439.98px) {
    .navbar-expand-xxl > .container, .navbar-expand-xxl > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:1440px) {
    .navbar-expand-xxl {
        -webkit-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }

        .navbar-expand-xxl .navbar-nav {
            -webkit-flex-direction: row;
            flex-direction: row
        }

            .navbar-expand-xxl .navbar-nav .dropdown-menu {
                position: absolute
            }

            .navbar-expand-xxl .navbar-nav .nav-link {
                padding-right: .5rem;
                padding-left: .5rem
            }

        .navbar-expand-xxl > .container, .navbar-expand-xxl > .container-fluid {
            -webkit-flex-wrap: nowrap;
            flex-wrap: nowrap
        }

        .navbar-expand-xxl .navbar-collapse {
            display: -webkit-flex !important;
            display: flex !important;
           
            flex-basis: auto
        }

        .navbar-expand-xxl .navbar-toggler {
            display: none
        }
}

.navbar-expand {
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

    .navbar-expand > .container, .navbar-expand > .container-fluid {
        padding-right: 0;
        padding-left: 0
    }

    .navbar-expand .navbar-nav {
        -webkit-flex-direction: row;
        flex-direction: row
    }

        .navbar-expand .navbar-nav .dropdown-menu {
            position: absolute
        }

        .navbar-expand .navbar-nav .nav-link {
            padding-right: .5rem;
            padding-left: .5rem
        }

    .navbar-expand > .container, .navbar-expand > .container-fluid {
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap
    }

    .navbar-expand .navbar-collapse {
        display: -webkit-flex !important;
        display: flex !important;
       
        flex-basis: auto
    }

    .navbar-expand .navbar-toggler {
        display: none
    }

.navbar-light .navbar-brand, .navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: rgba(0,0,0,.9)
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.5)
}

    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
        color: rgba(0,0,0,.7)
    }

    .navbar-light .navbar-nav .nav-link.disabled {
        color: rgba(0,0,0,.3)
    }

    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        color: rgba(0,0,0,.9)
    }

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1)
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-light .navbar-text {
    color: rgba(0,0,0,.5)
}

    .navbar-light .navbar-text a, .navbar-light .navbar-text a:focus, .navbar-light .navbar-text a:hover {
        color: rgba(0,0,0,.9)
    }

.navbar-dark .navbar-brand, .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link {
    color: hsla(0,0%,100%,.5)
}

    .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
        color: hsla(0,0%,100%,.75)
    }

    .navbar-dark .navbar-nav .nav-link.disabled {
        color: hsla(0,0%,100%,.25)
    }

    .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
        color: #fff
    }

.navbar-dark .navbar-toggler {
    color: hsla(0,0%,100%,.5);
    border-color: hsla(0,0%,100%,.1)
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-dark .navbar-text {
    color: hsla(0,0%,100%,.5)
}

    .navbar-dark .navbar-text a, .navbar-dark .navbar-text a:focus, .navbar-dark .navbar-text a:hover {
        color: #fff
    }
.mr-2, .mx-2 {
    margin-right: 0.5rem !important;
}
.ml-auto, .mx-auto {
    margin-left: auto !important
}
.bg-white {
    background-color: #fff !important;
}
.avatar {
    margin-top: -15px;
    margin-bottom: -15px;
    width: 40px;
    height: 40px
}
.d-flex {
    display: -webkit-flex !important;
    display: flex !important
}
.hamburger, .hamburger:after, .hamburger:before {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 24px;
    background: #1ab394;
    display: block;
    content: "";
    transition: background .1s ease-in-out,color .1s ease-in-out
}

.hamburger {
    position: relative
}

    .hamburger:before {
        top: -7.5px;
        width: 24px;
        position: absolute
    }

    .hamburger:after {
        bottom: -7.5px;
        width: 24px;
        position: absolute
    }

.sidebar-toggle:hover .hamburger, .sidebar-toggle:hover .hamburger:after, .sidebar-toggle:hover .hamburger:before {
    background: #1ab394
}

.hamburger-right, .hamburger-right:after, .hamburger-right:before {
    right: 0
}
.card {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e5e9f2;
    border-radius: 0
}

    .card > hr {
        margin-right: 0;
        margin-left: 0
    }

    .card > .list-group:first-child .list-group-item:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }

    .card > .list-group:last-child .list-group-item:last-child {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }

.card-body {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem
}

.card-title {
    margin-bottom: .75rem
}

.card-subtitle {
    margin-top: -.375rem
}

.card-subtitle, .card-text:last-child {
    margin-bottom: 0
}

.card-link:hover {
    text-decoration: none
}

.card-link + .card-link {
    margin-left: 1.25rem
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border-bottom: 1px solid #e5e9f2
}

    .card-header:first-child {
        border-radius: -1px -1px 0 0
    }

    .card-header + .list-group .list-group-item:first-child {
        border-top: 0
    }

.card-footer {
    padding: .75rem 1.25rem;
    background-color: #fff;
    border-top: 1px solid #e5e9f2
}

    .card-footer:last-child {
        border-radius: 0 0 -1px -1px
    }

.card-header-tabs {
    margin-bottom: -.75rem;
    border-bottom: 0
}

.card-header-pills, .card-header-tabs {
    margin-right: -.625rem;
    margin-left: -.625rem
}

.card-img-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem
}

.card-img {
    width: 100%;
    border-radius: -1px
}

.card-img-top {
    width: 100%;
    border-top-left-radius: -1px;
    border-top-right-radius: -1px
}

.card-img-bottom {
    width: 100%;
    border-bottom-right-radius: -1px;
    border-bottom-left-radius: -1px
}

.card-deck {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

    .card-deck .card {
        margin-bottom: 15px
    }

@media (min-width:576px) {
    .card-deck {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap;
        margin-right: -15px;
        margin-left: -15px
    }

        .card-deck .card {
            display: -webkit-flex;
            display: flex;
            -webkit-flex: 1 0 0%;
            flex: 1 0 0%;
            -webkit-flex-direction: column;
            flex-direction: column;
            margin-right: 15px;
            margin-bottom: 0;
            margin-left: 15px
        }
}

.card-group {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column
}

    .card-group > .card {
        margin-bottom: 15px
    }

@media (min-width:576px) {
    .card-group {
        -webkit-flex-flow: row wrap;
        flex-flow: row wrap
    }

        .card-group > .card {
            -webkit-flex: 1 0 0%;
            flex: 1 0 0%;
            margin-bottom: 0
        }

            .card-group > .card + .card {
                margin-left: 0;
                border-left: 0
            }

            .card-group > .card:not(:last-child) {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0
            }

                .card-group > .card:not(:last-child) .card-header, .card-group > .card:not(:last-child) .card-img-top {
                    border-top-right-radius: 0
                }

                .card-group > .card:not(:last-child) .card-footer, .card-group > .card:not(:last-child) .card-img-bottom {
                    border-bottom-right-radius: 0
                }

            .card-group > .card:not(:first-child) {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0
            }

                .card-group > .card:not(:first-child) .card-header, .card-group > .card:not(:first-child) .card-img-top {
                    border-top-left-radius: 0
                }

                .card-group > .card:not(:first-child) .card-footer, .card-group > .card:not(:first-child) .card-img-bottom {
                    border-bottom-left-radius: 0
                }
}

.card-columns .card {
    margin-bottom: .75rem
}

@media (min-width:576px) {
    .card-columns {
        -webkit-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 1.25rem;
        column-gap: 1.25rem;
        orphans: 1;
        widows: 1
    }

        .card-columns .card {
            display: inline-block;
            width: 100%
        }
}

.accordion > .card {
    overflow: hidden
}

    .accordion > .card:not(:first-of-type) .card-header:first-child {
        border-radius: 0
    }

    .accordion > .card:not(:first-of-type):not(:last-of-type) {
        border-bottom: 0;
        border-radius: 0
    }

    .accordion > .card:first-of-type {
        border-bottom: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0
    }

    .accordion > .card:last-of-type {
        border-top-left-radius: 0;
        border-top-right-radius: 0
    }

    .accordion > .card .card-header {
        margin-bottom: -1px
    }
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #424856
}
    table td, .table th {
        padding: 0.25rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    .table thead th {
        vertical-align: bottom;
        border-bottom: 2px solid #dee2e6;
    }

    .table .thead-dark th {
        color: #fff;
        background-color: #343a40;
        border-color: #454d55
    }

    .table .thead-light th {
        color: #424856;
        background-color: #e9ecef;
        border-color: #dee2e6
    }

    .table .thead-primary th {
        color: #fff;
        background-color: #1ab394;
        border-color: #1ab394
    }

    .table .thead-success th {
        color: #fff;
        background-color: #3a94d8;
        border-color: #3a94d8
    }

    .table .thead-danger th {
        color: #fff;
        background-color: #d9534f;
        border-color: #d9534f
    }

    .table .thead-warning th {
        color: #fff;
        background-color: #f0ad4e;
        border-color: #f0ad4e
    }

    .table .thead-info th {
        color: #fff;
        background-color: #1f9bcf;
        border-color: #1f9bcf
    }

    .table .thead-teal th {
        color: #fff;
        background-color: #0cd096;
        border-color: #0cd096
    }

.table-dark {
    color: #fff;
    background-color: #343a40
}

    .table-dark td, .table-dark th, .table-dark thead th {
        border-color: #454d55
    }

    .table-dark.table-bordered {
        border: 0
    }

    .table-dark.table-striped tbody tr:nth-of-type(odd) {
        background-color: hsla(0,0%,100%,.05)
    }

    .table-dark.table-hover tbody tr:hover {
        color: #fff;
        background-color: hsla(0,0%,100%,.075)
    }

.form-control {
    display: block;
    width: 100%;
    height: calc(1.8125rem + 2px);
    padding: 1rem .7rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #424856;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .2rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.8125rem + 5px);
    padding: 0.25rem 1.7rem 0.25rem 0.7rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #424856;
    vertical-align: middle;    
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.2rem;
    -webkit-appearance: none;
    -moz-appearance: none;

}
    .custom-select.is-valid, .was-validated .custom-select:valid {
        border-color: #3a94d8;
        padding-right: calc((3em + 1.5rem)/ 4 + 1.7rem);
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .7rem center/8px 10px,url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%234BBF73' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E") #fff no-repeat center right 1.7rem/calc(1.75em + .25rem) calc(.75em + .25rem)
    }

        .custom-select.is-valid:focus, .was-validated .custom-select:valid:focus {
            border-color: #3a94d8;
            box-shadow: 0 0 0 .2rem rgba(75,191,115,.25)
        }

        .custom-select.is-valid ~ .valid-feedback, .custom-select.is-valid ~ .valid-tooltip, .form-control-file.is-valid ~ .valid-feedback, .form-control-file.is-valid ~ .valid-tooltip, .was-validated .custom-select:valid ~ .valid-feedback, .was-validated .custom-select:valid ~ .valid-tooltip, .was-validated .form-control-file:valid ~ .valid-feedback, .was-validated .form-control-file:valid ~ .valid-tooltip {
            display: block
        }


.custom-control-input.is-valid ~ .custom-control-label, .was-validated .custom-control-input:valid ~ .custom-control-label {
    color: #3a94d8
}

    .custom-control-input.is-valid ~ .custom-control-label:before, .was-validated .custom-control-input:valid ~ .custom-control-label:before {
        border-color: #3a94d8
    }

.custom-control-input.is-valid ~ .valid-feedback, .custom-control-input.is-valid ~ .valid-tooltip, .was-validated .custom-control-input:valid ~ .valid-feedback, .was-validated .custom-control-input:valid ~ .valid-tooltip {
    display: block
}

.custom-control-input.is-valid:checked ~ .custom-control-label:before, .was-validated .custom-control-input:valid:checked ~ .custom-control-label:before {
    border-color: #71cc90;
    background-color: #71cc90
}

.custom-control-input.is-valid:focus ~ .custom-control-label:before, .was-validated .custom-control-input:valid:focus ~ .custom-control-label:before {
    box-shadow: 0 0 0 .2rem rgba(75,191,115,.25)
}

.custom-control-input.is-valid:focus:not(:checked) ~ .custom-control-label:before, .custom-file-input.is-valid ~ .custom-file-label, .was-validated .custom-control-input:valid:focus:not(:checked) ~ .custom-control-label:before, .was-validated .custom-file-input:valid ~ .custom-file-label {
    border-color: #3a94d8
}

.custom-file-input.is-valid ~ .valid-feedback, .custom-file-input.is-valid ~ .valid-tooltip, .was-validated .custom-file-input:valid ~ .valid-feedback, .was-validated .custom-file-input:valid ~ .valid-tooltip {
    display: block
}

.custom-file-input.is-valid:focus ~ .custom-file-label, .was-validated .custom-file-input:valid:focus ~ .custom-file-label {
    border-color: #3a94d8;
    box-shadow: 0 0 0 .2rem rgba(75,191,115,.25)
}

.btn {
     
    padding: .2rem .7rem;
   
}

.activity .activity-info {
    display: flex;
    margin: 5px 0;
    position: relative;
    min-height: 60px
}

    .activity .activity-info .activity-info-text {
        margin-left: 16px;
        width: 100%
    }

.activity .icon-info-activity .iconfeathr {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0 0 1px .25px;
    font-size: 18px;
    border: 1px solid #1ab394;
    margin-left: 2px;
    background-color: #f8f9fa
}

.activity .icon-info-activity svg {
    height: 14px;
    width: 14px;
    color: #1ab394
}

.activity .activity-info::before {
    content: '';
    position: absolute;
    bottom: 0;
    top: 42px;
    left: 18px;
    border-left: 2px dotted #a4abc5
}

.myLoginForm {
    width: 412px;
    margin: 10vh auto;
  
    background-color: #ffffff4d;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.12), 0 12px 40px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

   @media screen and (max-width:500px){
    .myLoginForm {
        width: 300px;
    } 
}