@model IEnumerable<Diary.UI.Models.DocumentViewModel>
    <div class="card">
        <div class="row">

            <div class="col-sm-4 border-0">
                <form enctype="multipart/form-data" method="post" asp-controller="Lawsuits" asp-action="UploadFile">
                    <dl>
                        <dt>
                            <label>Upload</label>
                        </dt>
                        <dd>
                            <input type="file" name="FormFile" id="FormFile">

                        </dd>
                    </dl>
                    <input class="btn btn-info" type="submit" value="Upload" />
                </form>
            </div>
            <div class="col-sm-8">



                <div class="card-body">
                    <div class="table-responsive">
                        <table class=" table table-centered table-nowrap mb-0">
                            <thead class="thead-success">
                                <tr>
                                    <th>
                                        File Name
                                    </th>
                                    <th>Content Type</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                <tr>
                                    <td>
                                        @item.FileName
                                    </td>
                                    <td>
                                        @item.ContentType
                                    </td>
                                    <td>
                                        <a asp-controller="Documents" class="class=" btn btn-primary"" asp-action="DownloadFileFromFileSystem" asp-route-id="@item.Id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                                                <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
                                                <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
                                            </svg> Download
                                        </a>

                                    </td>
                                </tr>
                                }
                            </tbody>


                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
